<section class="forecast">
    <div class="loading"></div>
    <h1 class="city"></h1>
    <p class="location"></p>
    <p class="description"></p>
    <div class="readings">
        <div class="left">
            <img src="" class="weather-icon" />
            <p class="temp"></p>
        </div>
        <div class="right">
            <p class="hum"></p>
            <p class="wind"></p>
            <p class="vis"></p>
        </div>
    </div>
</section>